* {
  margin: 0px auto;
  padding: 0px;
  line-height: 150%;
  font-family: 'Arial', serif;
}
.sp {
  display: none;
}
.dummycontainer {
  width: inherit;
}
.photo {
  width: 100%;
  height: auto;
}
header {
  background-color: rgb(53, 58, 63);
  color: white;
  display: inline-flex;
  width: 100%;
  padding: 10px 0px;
}

header .heading {
  margin-left: 10%;
}

header nav {
  float: right;
  clear: both;
  margin-right: 10%;
}

header nav div {
  display: inline-block;
}

header nav div a {
  color: rgb(130, 130, 130);
  padding-left: 5px;
  text-decoration: none;
}

header nav div a:hover {
  color: white;
  transition: 1.5s;
}

main {
  width: 80%;
  display: flex;
}

main .page_heading {
  margin: 10px 0px;
  align-items: center;
  display: inline-flex;
}

main .page_heading h2 {
  font-weight: normal;
  margin-right: 10px;
}

main .main {
  display: flex;
}

main .main .desc {
  margin: 20px 40px;
  align-items: center;
  justify-content: center;
  width: 40%;
}

main .main .desc ul {
  padding:  0px 30px;
}

.projects {
  width: 80%;
}

.projects ul {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 40px auto;
}

footer {
  background-color: rgb(53, 58, 63);
  text-align: center;
  color: white;
  padding: 50px 0px;
  font-weight: lighter;
}
