* {
  margin: 0px auto;
  padding: 0px;
  line-height: 150%;
  font-family: 'Arial', serif;
}
.clear_fix {
  display: table;
  content: '';
  clear: both;
}
.pc {
  display: none;
}
.menu {
  display: none;
}
.dummycontainer {
  width: inherit;
}
.photo {
  width: 100%;
  height: auto;
}


header {
  background-color: rgb(53, 58, 63);
  width: 100%;
  padding: 10px 0px;
}

header nav {
  margin:  0px 5%;
  width: 90%;
  color: white;
  display: flex;
}

header nav .heading {
  margin-left: 0%;
}

header nav .menu_btn {
  margin-right: 0%;
}

header .menu ul li {
  padding: 5px 0px;
  list-style: none;
  text-align: center;
}

header .menu ul li a {
  color: rgb(130, 130, 130);
  text-decoration: none;
}

header .menu ul li a:hover {
  color: white;
  text-decoration: none;
  transition: 1.5s;
}

main {
  margin: 10px 5%;
}

main .page_heading h2 {
  font-weight: normal;
}

main .main .desc {
  margin: 10px 30px;
}

main .main .desc h4 {
  padding: 20px 0px;
  font-weight: normal;
}

main .main .desc ul {
  padding:  0px 30px;
}

.projects {
  margin: 0px 5%;
}

.projects ul {
  list-style: none;
}

.projects ul li {
  padding: 5px;
}

footer {
  background-color: rgb(53, 58, 63);
  text-align: center;
  color: white;
  padding: 30px 0px;
  font-weight: lighter;
}
