body {
  margin: 0px auto;
  padding: 0px;
}
p {
  font-family: "Open Sans", serif;
  font-size: 15px;
}
h3, h6, h2 {
  text-align: center;
  font-family: "Kameron", serif;
}
h6 {
  color: #bc9380;
}
ul {
  list-style: none;
  padding: 0px;
}
.smart {
  display: none;
}
.soc_media ul li {
  display: inline;
}
.container {
  width: 100%;
  margin: 0px auto;
}
.dummycontainer {
  width: inherit;
}
.clear_fix {
  content: '';
  display: table;
  clear: both;
}
.feedback {
  display: flex;
  padding: 0px 10px;
  align-items: center;
}
.photo {
  width: 100%;
  height: auto;
  text-align: center;
}
.border {
  border-style: groove;
  border-color: #bc9380;
  border-width: 1px;
  width: inherit;
}
.cnl p {
  display: inline;
}

header .top {
  display: flex;
  align-items: center;
}

header .top .menu, header .top .logo, header .top .soc_media  {
  width: 33.33%;
  text-align: center;
}

header .navi nav ul {
  width: 100%;
  text-align: center;
  background-color: #6a6a6a;
  padding: 10px auto;
}

header .navi nav ul li {
  display: inline;
  padding: 5px;
}

header .navi nav ul li a {
  color: black;
  text-decoration: none;
}

main .carousel {
  width: 90%;
  margin-left: 5%;
  text-align: center;
  display: flex;
}

main .carousel .art_01, main .carousel .art_02, main .carousel .art_03 {
  background-color: #6a6a6a;
  width: 32%;
  margin-right: 10px;
}

main .carousel .imgntxt {
  display: flex;
  align-items: center;
}

main .carousel .imgntxt .text {
  text-align: left;
  line-height: 10px;
}

main .carousel .imgntxt .arrow {
  margin-left: 10%;
}

main .main {
  display: inline-block;
  line-height: 15px;
  margin-left: 10%;
  width: 80%;
}

main .main article .feedback .soc_media {
  margin-left: 50%;
}

main .body {
  display: flex;
}

main .body .sub_01, main .body .sub_02 {
  width: 49%;
}

main .body .sub_01 {
  margin-right: 10px;
}

main .self {
  float: right;
  clear: both;
  width: 20%;
  margin: 10px auto 10% auto;
  padding-right: 10px;
}

main .self ul li .about_me .soc_media {
  text-align: center;
}

main .self ul li .insta {
  text-align: center;
}

main .self ul li .contact {
  text-align: center;
  padding-bottom: 10px;
}

main .self ul li .contact form input {
  float: left;
  clear: both;
  margin-left: 10px;
}

main .self ul li .contact button {
  background-color: #6a6a6a;
  border-radius: 10px;
  width: 80px;
  box-shadow: 0px;
}

.footer footer {
  background-color: black;
  color: white;
  width: 100%;
  line-height: 0px;
}

.footer footer .lvl1 {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
}

.footer footer .lvl1 p {
  margin-left: 4%;
}

.footer footer .lvl1 .soc_media {
  margin-left: 75%;
}
